<h1>Hitters</h1>

<p>
  Download:
  <%= link_to "CSV", hitters_path(format: "csv") %> |
  <%= link_to "Excel", hitters_path(format: "xls") %>
</p>

<table id="hitters">
  <tr>
    <th>player_id</th>
    <th>Name</th>
    <th>Pos1</th>
    <th>Pos2</th>
    <th>Pos3</th>
    <th>AB</th>
    <th>Run</th>
    <th>Hit</th>
    <th>HR</th>
    <th>RBI</th>
    <th>SB</th>
    <th>Avg</th>
    <th>Zola_mix12</th>
    <th>Zola_rank</th>
  </tr>
<% @hitters.each do |hitter| %>
  <tr>
    <td><%= hitter.player_id %></td>
    <td><%= hitter.name %></td>
    <td><%= hitter.pos1 %></td>
    <td><%= hitter.pos2 %></td>
    <td><%= hitter.pos3 %></td>
    <td><%= hitter.ab %></td>
    <td><%= hitter.run %></td>
    <td><%= hitter.hit %></td>
    <td><%= hitter.hr %></td>
    <td><%= hitter.rbi %></td>
    <td><%= hitter.sb %></td>
    <td><%= hitter.avg %></td>
    <td><%= hitter.zola_mix12 %></td>
    <td><%= hitter.zola_rank %></td>
  </tr>
<% end %>
</table>


<h1>Import Hitters</h1>
  <%= form_tag import_hitters_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import" %>
  <% end %>